{
  "ignorePatterns": ["**/*.js", "**/*.mjs", "dist", "helm", "dataSource.ts"],
  "extends": ["@map-colonies/eslint-config/jest", "@map-colonies/eslint-config/ts-base"],
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
