global:
  cloudProvider: {}
  tracing: {}
  metrics: {}

podLabels: {}

mclabels:
  component: infrastructure
  owner: infra
  partOf: authentication
  prometheus:
    enabled: true
    port: 8181
  logScraping: true

cloudProvider:
  dockerRegistryUrl: my-registry-url.io
  imagePullSecretName: 'my-registry-secret'
  flavor: openshift

ca:
  enabled: false
  secretName: ''
  path: '/usr/local/share/ca-certificates'
  key: 'ca.crt'

image:
  repository: openpolicyagent/opa
  # tag: 1.0.1

enabled: true
replicaCount: 1
nodePort: 30000

servicePort: 80
targetPort: 8181
diagnosticTargetPort: 8282
logLevel: error

additionalPodAnnotations: {}

s3:
  # For MinIO: http://minio.namespace.svc.cluster.local:9000/bucket-name
  # For AWS S3: https://s3.region.amazonaws.com/bucket-name or https://bucket-name.s3.region.amazonaws.com
  endpoint: http://localhost:9000/opa
  secretName: s3-secret
  filePath: '/dev.tar.gz'
  # Set to true for AWS S3, false for MinIO
  useAwsS3: false
  # AWS region (only used when useAwsS3 is true)
  region: us-east-1

status:
  console: false

decisionLogs:
  console: true
  maxBufferSize: 5242880 # 5MB

tracing:
  enabled: false
  type: grpc
  endpoint: localhost:4317
  # samplePercentage: 1 # Default is 100%

resources:
  enabled: true
  value:
    limits:
      cpu: 400m
      memory: 300Mi
    requests:
      cpu: 100m
      memory: 300Mi

hpa:
  enabled: false
  minReplicas: 1
  maxReplicas: 15
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 75
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 75

route:
  enabled: true
  path: /
  host: 
  timeout:
    enabled: false # defaults to 30s by openshift
    duration: 60s # supported units (us, ms, s, m, h, d)
  tls:
    enabled: true
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
    useCerts: false
    certificate:
    key:
    caCertificate:

ingress:
  enabled: false
  className: ""
  labels: {}
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts: []
    # - host: opa.domain.com
    #   paths:
    #     - path: /
    #       pathType: ImplementationSpecific
  path: /
  # host: 'localhost'
  # cors:
  #   enabled: true
  #   origin: '*'
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - opa.domain.com

# Add any label you want as `KEY: VALUE`
labels: {}
