global:
  cloudProvider: {}
  tracing: {}
  metrics: {}

configServerUrl: &configServerUrl 'http://localhost/api'
offlineMode: &configOfflineMode false

cloudProvider: &cloudProvider
  dockerRegistryUrl: my-registry-url.io
  imagePullSecretName: 'my-registry-secret'
  flavor: openshift

ca: &ca
  enabled: false
  secretName: 'root-ca'
  path: '/usr/local/share/ca-certificates'
  key: 'ca.crt'

host: &host ''
tls: &tls
  useCerts: false
  certificate: ''
  key: ''
  caCertificate: ''

opa:
  enabled: true
  cloudProvider: *cloudProvider
  ca: *ca
  image:
    repository: openpolicyagent/opa

  bundlePersistencePath: /tmp/opa

  s3:
    endpoint: http://localhost:9000/opa
    secretName: s3-secret
    filePath: '/dev.tar.gz'

  hpa:
    enabled: true

  route:
    enabled: true
    host: *host
    path: /opa
    tls: *tls

  ingress:
    enabled: false
    className: ""
    labels: {}
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts: []
      # - host: opa.domain.com
      #   paths:
      #     - path: /
      #       pathType: ImplementationSpecific
    path: /
    # host: 'localhost'
    # cors:
    #   enabled: true
    #   origin: '*'
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - opa.domain.com

auth-cron:
  enabled: true
  cloudProvider: *cloudProvider
  ca: *ca
  image:
    repository: infra/auth-cron

  configManager:
    offlineMode: *configOfflineMode
    serverUrl: *configServerUrl
    name: 'infra-auth-cron'

auth-manager:
  enabled: true
  cloudProvider: *cloudProvider
  ca: *ca
  image:
    repository: infra/auth-manager

  configManager:
    offlineMode: *configOfflineMode
    serverUrl: *configServerUrl
    name: 'infra-auth-manager'

  route:
    enabled: true
    host: *host
    path: /api
    tls: *tls

  ingress:
    enabled: false
    className: ""
    labels: {}
    annotations: {}
    hosts: []
      # - host: opa.domain.com
      #   paths:
      #     - path: /
      #       pathType: ImplementationSpecific
    path: /
    # host: 'localhost'
    # cors:
    #   enabled: true
    #   origin: '*'
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - opa.domain.com

auth-ui:
  enabled: true
  cloudProvider: *cloudProvider
  ca: *ca
  image:
    repository: infra/auth-ui
  config: |
    {
      "Local": {
        "name": "localhost",
        "url": "https://infra-opala-auth-manager",
        "envs": [
          {
            "envKey": "prod",
            "opaUrl": "https://infra-opala-opa-service"
          }
        ]
      }
    }
  route:
    enabled: true
    host: *host
    tls: *tls

  ingress:
    enabled: false
    className: ""
    labels: {}
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts: []
      # - host: auth-ui.domain.com
      #   paths:
      #     - path: /
      #       pathType: ImplementationSpecific
    path: /
    # host: 'localhost'
    # cors:
    #   enabled: true
    #   origin: '*'
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - auth-ui.domain.com


token-kiosk:
  enabled: true
  cloudProvider: *cloudProvider
  ca: *ca
  image:
    repository: infra/token-kiosk
  configManager:
    offlineMode: *configOfflineMode
    serverUrl: *configServerUrl
    name: 'infra-token-kiosk'
