services:
  s3:
    url: {{ .Values.s3.endpoint }}
    credentials:
      s3_signing:
        # Required for finding the envs for S3
        environment_credentials: {}

bundles:
  authz:
    service: s3
    resource: {{ .Values.s3.filePath }}
{{- if .Values.s3.useAwsS3 }}
    # Persist bundle to disk for AWS S3
    persist: true
{{- end }}

status:
  console: {{ .Values.status.console }}
  prometheus: true

decision_logs:
  console: {{ .Values.decisionLogs.console }}
  reporting:
    buffer_size_limit_bytes: {{ .Values.decisionLogs.maxBufferSize }}

{{ if .Values.tracing.enabled }}
distributed_tracing:
  type: {{ .Values.tracing.type }}
  address: {{ .Values.tracing.endpoint }}
  sample_percentage: {{ .Values.tracing.samplePercentage | default 100 }}
{{ end }}

persistence_directory: {{ .Values.bundlePersistencePath }}

storage:
  disk:
    auto_create: true
    directory: {{ .Values.bundlePersistencePath }}


labels:
  {{- range $key, $value := .Values.labels }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
